*{
    font-family: 'Karla';
}

.alignRight{
    text-align: right;
}


.red{
    color:red;

}

.YellowNoResize{
    color: rgb(244, 206, 20);
}

.inline{
    display: inline-block;
}

.main{
    margin: 1% 0%;
}

.logo{
    margin-right: 15vw;
    width:10em;
    margin-bottom: -0.8em;
}

.nav{
    margin:0 auto;
    display:grid;
    grid-template-columns: auto;
    text-align: center;
}

.nav-elements{
    display: inline-block;
    margin:0% 0.5% 1% 0%;
    padding:0.7em 1em !important;
    text-decoration: none;
    color:black;
    font-size: 1em;
    transition: 0.5s;
}

.nav-elements:hover{
    color:orange;
}

.Yellow{
    color:rgb(244, 206, 20);
    font-size: 2em !important;
}

.home{
    text-align: left;
    color:white;
    height:20em;
    width:100%;
    background-color: rgb(73, 94, 87);
}

.btnHome{
    height:4vh;
    margin-top: 6%;
    width:10vw;
    border:none;
    border-radius: 10px;
    background-color: rgb(244, 206, 20);
    font-size: 0.7em;
    font-weight: bold;
}
.btnHome:hover{
    cursor: pointer;
    background-color: rgb(153, 127, 0);
}

.home .content{
    display:grid;
    grid-template-columns: 2fr 1fr;

    margin: 0 auto;
    font-size: 2em;
    max-width: 870px;
    padding:1vw 2vw;
}

.home .content .para{
    font-size: 0.6em;
    max-width: 250px;
}

.home .content .img{
    width:7em;
    border-radius: 20px;
    height:auto;
}

.font1_5em{
    font-size: 1.5em;
}

@media screen and (max-width:700px) {
    .cardSection{
        display: grid;
        grid-template-columns: 1fr;
        width:80%;
    }
    .card{
        margin:2em 15%;
        height:27em;
        border-radius: 20px;
        padding:0em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 57% 10% 20% 10%;
        background-color: rgb(236, 236, 236);
        width:95%;
        
    }

    .cardHeading{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin:-0.4em 1.2em -3em 0em;
    }

    .cardBtn{
        border:none;
        text-align: left;
        background-color: transparent;
        padding-left: 6.5vw;
        margin-bottom: -1em;
        font-size: 1em;
        font-weight: bold;
    }

    .btn{
        vertical-align: baseline !important;
        font-size: 0.7em !important;
        background-color:rgb(244, 206, 20);
        box-shadow: none;
        border-radius: 16px;
        border:none;
        font-weight: bold;
        max-width: 200px;
        margin-right: 3vw !important;
        height:4em;
    }


    .font1_5em{
        font-size: 1em;
    }

    .para{
        font-size: 0.5em !important;
    }

    .img{
        width:6.4em !important;
        margin-left: 0.5em;
        margin-top: 0.5em;
    }

    .btnHome{
        width:10em;
        margin-bottom: 1em;
        font-size: 0.8em;
    }
}

@media screen and (min-width:701px) {
    .cardSection{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card{
        margin:4em -1.5em;
        height:80%;
        border-radius: 20px;;
        padding:0em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 15% 35% 5%;
        max-width: 270px;
        background-color: rgb(236, 236, 236);
        
    }

    .cardHeading{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin:-0.4em 1.2em -3em 0em;
    }

    .cardBtn{
        border:none;
        text-align: left;
        background-color: transparent;
        padding-left: 2vw;
        padding-bottom: 1em;
        font-size: 1em;
        font-weight: bold;
    }
}

.specials{
    max-width: 870px;
    margin:5em auto;
    display: grid;
    grid-row: 20% 80%;
    grid-column: 1fr 1fr 1fr;
}

.specials .heading {
    margin-top: 0.4em;
}

.inline_block{
    display: inline-block;
}

.half{
    display:grid;
    grid-template-columns: 70% 1fr;
    font-size: 1.3em;
    margin:0em 0em;
}

.btn{
    vertical-align: baseline !important;
    font-size: 0.7em !important;
    background-color:rgb(244, 206, 20);
    box-shadow: none;
    border-radius: 16px;
    border:none;
    font-weight: bold;
    max-width: 200px;
    height:4em;
}






.cardImg{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height:100%;
}



.card .alignRight{
    color:orange;
}

.cardDesc{
    margin:0 1.6em;
    text-align: left;
    font-weight: 150;
}





/* BOOKING FORM */

.bookingForm{
    width:60%;
    margin: 0 auto;
    background-color: orange;
}

.bookingh1{
    margin:0 auto;
    font-size: 3em;
}

.elements{
    margin: 0 auto;
    
}

.bookingSection{
    background-color: rgb(73, 94, 87);
    color:white;
    padding: 2% 0%;
}


.formElements{
    border-radius: 6px;
    height: 2em;
    font-size: 1em;
    padding: 0.1em 0.3em;
    width: 17em;
    border: none;
}

.dateformElements{
    border-radius: 6px;
    height: 2em;
    font-size: 1em;
    padding: 0.1em 0.3em;
    width: 13em;
    border: none;
}

.selectformElement{
    margin-left: -2.5em;
    width:14.5em;
    height: 2.2em;
    text-align: center !important;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: white;
}


.secondRow{
    margin-top:15% !important;
}

.guestformElement{
    width:13.5em;
    font-size: 1em;
    text-align: center;
    padding: 0.2em 0em;
    border-radius: 5px;
    height:1.6em;
    border:none;
}

.check{
    margin-top: 3em !important;
    width:29em;
    height: 5em;
}

.ocassionformElement{
    width:14.35em;
    font-size: 1em;
    text-align: center;
    padding: 0.2em 0em;
    border-radius: 5px;
    height:2em;
    border:none;
    margin-left: 0.7em;
}

.submitBtn{
    margin-top:2em !important;
    width:29em;
    font-size: 1em;
    height:2.5em;
    border-radius: 10px;
    border: none;
    background-color: rgb(244, 206, 20);
}

.submitBtn:hover{
    background-color: rgb(157, 131, 0);
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .formElements{
        border-radius: 6px;
        height: 2em;
        font-size: 1em;
        padding: 0.1em 0.3em;
        width: 8em;
        border: none;
    }
    
    .dateformElements{
        border-radius: 6px;
        height: 2em;
        font-size: 1em;
        padding: 0.1em 0.3em;
        width: 8em;
        border: none;
    }
    
    .selectformElement{
        margin-left: 0em;
        width:8em;
        height: 2.2em;
        text-align: center !important;
        font-size: 1em;
        border-radius: 5px;
        border: none;
        background-color: white;
    }
    
    
    .secondRow{
        margin-top:15% !important;
    }
    
    .guestformElement{
        width:8.6em;
        font-size: 1em;
        text-align: center;
        padding: 0.2em 0em;
        border-radius: 5px;
        height:1.6em;
        border:none;
    }
    
    .check{
        margin-top: 3em !important;
        margin-left: -8.5em !important;
        width:9em;
        height: 5em;
    }
    
    .ocassionformElement{
        width:8em;
        font-size: 1em;
        text-align: center;
        padding: 0.2em 0em;
        border-radius: 5px;
        height:2em;
        border:none;
        margin-left: 0.7em;
    }
    
    .submitBtn{
        margin-top:2em !important;
        width:18em;
        font-size: 1em;
        height:2.5em;
        border-radius: 10px;
        border: none;
        background-color: rgb(244, 206, 20);
    }
    .guestsLabel{
        font-size: 0.85em !important;
    }

    .cardImg{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height:100%;
    }
}

/* Successful Booking Page */

.successfulSection{
    background-color: rgb(73, 94, 87);
    height: 90vh;
}

.SuccessfulBtn{
    width:25em;
    font-size: 1.3em;
    height:2.5em;
    border-radius: 10px;
    border: none;
    background-color: rgb(244, 206, 20);
}

.SuccessfulBtn:hover{
    background-color: rgb(157, 131, 0);
    cursor: pointer;
}

.font-big{
    margin: 35vh 0 0.3em 0;
    font-size: 3.5em;
    color: white;
}